﻿@model LoginVM
@{
    ViewData["Title"] = "Host Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Host Login</h2>

<div class="card p-3">
    <form method="post" asp-controller="Host" asp-action="HostLogin">
        <div asp-validation-summary="ModelOnly" class="text-danger alert-danger"></div> @*--- All, ModelOnly, None ---*@
        <div class="form-group">
            <input placeholder="Username" asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input placeholder="Password" type="password" asp-for="UserPass" class="form-control" />
            <span asp-validation-for="UserPass" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">LOGIN</button>
    </form>
</div>


